<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="FireFoxProfiles" value="C:\Users\long2\AppData\Roaming\Mozilla\Firefox\Profiles"/>
    <add key="MySQLConnection" value="server=45.252.248.16;uid=duoctayd_AmzAli;pwd=JtP-6hVML*.k;database=duoctayd_Orders;Convert Zero Datetime=True"/>
    <add key="StoreFile" value="Stores.txt"/>
  </appSettings>
</configuration>
