<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="FireFoxProfiles" value="C:\Users\long2\AppData\Roaming\Mozilla\Firefox\Profiles"/>
    <add key="MySQLConnection" value="server=45.252.248.16;uid=duoctayd_AmzAli;pwd=JtP-6hVML*.k;database=duoctayd_Orders;Convert Zero Datetime=True"/>
    <add key="MySQLConnectionLocal" value="server=127.0.0.1;uid=duoctayd_AmzAli;pwd=JtP-6hVML*.k;database=orders;Convert Zero Datetime=True"/>
    <add key="LogFile" value="Logs.txt"/>
    <add key="TimeOutForWaiting" value="5"/>
    <add key="DelayThread" value="5000"/>
    <add key="OrderLinkXPath" value="/html/body/div[1]/div[2]/div/div/div[3]/div[4]/div[2]/div[2]/div/div[2]/table/tbody/tr[1]/td[3]/div/div[1]/a"/>
    <add key="OrderLinkCSS" value="#orders-table > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(3) > div:nth-child(1) > div:nth-child(1) > a:nth-child(1)"/>
    <add key="NumberOfRetry" value="0"/>
    
    <add key="OrderIdXPath" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[2]/div[1]/div/span[5]"/>
    <add key="PurchaseDateXPath" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[3]/div[1]/div/div/div/div/div/div[1]/table/tbody/tr[3]/td[2]/span"/>
    <add key="CountryXPath" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[3]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr[3]/td[2]/span/span"/>
    <add key="ShipAddressXPath" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[3]/div[2]/div/div/div/div/div[1]/table/tbody/tr[1]/td/span/span[3]/div/div"/>
    <add key="ShipPhoneXPath" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[3]/div[2]/div/div/div/div/div[2]/div/table/tbody/tr[2]/td[2]/span/span"/>
    
    <add key="ConfirmShipment" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[4]/div/div/div/div/div[2]/div/a/span/span/input"/>
    <add key="NoButtons" value="6"/>
    <add key="ConfirmShipmentCSS" value=".a-span1\.5 > div:nth-child(1) > a:nth-child(1) > span:nth-child(1) > span:nth-child(1) > input:nth-child(1)"/>
    <add key="ConfirmShipmentInCaseBuyShipmentCSS" value="div.a-span1\.5:nth-child(2) > div:nth-child(1) > a:nth-child(1) > span:nth-child(1) > span:nth-child(1) > input:nth-child(1)"/>
    <add key="ConfirmShipment2" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[8]/div[2]/span[2]/span/input"/>
    <add key="ConfirmShipment2CSS" value="#a-autoid-23 > span:nth-child(1) > input:nth-child(1)"/>    
    <add key="ConfirmShipment3" value="/html/body/div[4]/div/div/div/span[4]/span/input"/>
    <add key="ConfirmShipment3CSS" value="span.a-button:nth-child(6) > span:nth-child(1) > input:nth-child(1)"/>

    <add key="ItemImage" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[5]/div/table/tbody/tr/td[2]/img"/>
    <add key="ItemAsin" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[5]/div/table/tbody/tr/td[3]/div/div[2]/div/b"/>
    <add key="ItemSku" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[5]/div/table/tbody/tr/td[3]/div/div[3]/div"/>
    <add key="ItemQuantity" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[5]/div/table/tbody/tr/td[5]"/>
    <add key="ItemUnitPrice" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[5]/div/table/tbody/tr/td[6]/span"/>
    <add key="ItemSubTotal" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[5]/div/table/tbody/tr/td[7]/div/table[1]/tbody/div[1]/div[2]/span"/>
    
    <add key="ItemImageCSS" value=".a-keyvalue > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(2) > img:nth-child(1)"/>
    <add key="ItemAsinCSS" value=".a-keyvalue > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > b:nth-child(2)"/>
    <add key="ItemSkuCSS" value=".a-keyvalue > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(3) > div:nth-child(1) > div:nth-child(3) > div:nth-child(1)"/>
    <add key="ItemQuantityCSS" value=".a-keyvalue > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(5)"/>
    <add key="ItemUnitPriceCSS" value=".a-keyvalue > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(6)"/>
    <add key="ItemSubTotalCSS" value=".a-keyvalue > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(7) > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > div:nth-child(1) > div:nth-child(2) > span:nth-child(1)"/>
    
    <add key="RefreshButton" value="/html/body/div[1]/div[2]/div/div/div[3]/div[4]/div[2]/div[1]/div[2]/div[1]/span/span/input"/>

    <add key="UserName" value="bonbon7814@gmail.com" />
    <add key="Password" value="gokuemn123" />
    <add key="NeedLogIn" value="1" />
    
    <add key="AliStatusXPath" value="/html/body/div[5]/div/div[2]/div/div/div[4]/div/table/tbody/tr[2]/td[3]/span"/>
    <add key="AliOrderDetail" value="https://trade.aliexpress.com/order_detail.htm?orderId="/>
    <add key="AliTrackingNumberXpath" value="/html/body/div[4]/div/div/div[1]/div/div/div/div[4]/div/table/tbody/tr[1]/td[2]"/>

    <add key="AmzOrderURL" value="https://sellercentral.amazon.com/orders-v3/order/"/>
    <add key="EditShipmentCSS" value="div.a-span10:nth-child(2) > span:nth-child(1) > span:nth-child(1) > input:nth-child(1)"/>
    <add key="AmzTrackingNumber" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[6]/div/div/div/div/div/div[2]/div/div[2]/div[4]/span/input"/>
    <add key="EditShipmentConfirm" value="/html/body/div[1]/div[2]/div/div/div[1]/div[1]/div/div[6]/div/div/div/div/div/div[3]/div[1]/div/span[2]/span/input"/>
  </appSettings>
</configuration>
